@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-transform: uppercase;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.mobile-nav {
  position: relative;
  bottom: 4px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: rgb(26, 24, 24);
  padding: 10px 0px 10px 0px;
  margin-top: 0px;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease-in;
  border-bottom: 2px solid transparent;
}

.mobile-nav a:hover {
  position: relative;
  bottom: 1px;
  border-bottom: 2px solid goldenrod;
  transition: 0.2s ease-in;
}

.mobile-links {
  -webkit-tap-highlight-color:  transparent;
}

main {
  margin-left: 200px;
}

main img {
  height: 100%;
  width: 100%;
  position: relative;
}

main p.quote {
  font-family: 'Special Elite', sans-serif;
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 500px;
  font-size: 36px;
}

main span {
  margin-left: 10px;
  color: #d32316;
  font-weight: 500;
  display: block;
}

.content {
  background-color: #ffffff;
  padding: 0 60px 20px 60px;
}

.content h1 {
  display: inline-block;
  border-top: 5px solid #ddc808;
  border-left: 5px solid #ddc808;
  padding: 7px 25px;
}

.bio {
  width: 100%;
  display: flex;
}

.bio p {
  line-height: 35px;
  font-size: 26px;
}

.bio div {
  padding: 20px 10px;
}

.bio .early-life {
  margin: 0px 20px;
}

.bio h2 {
  color: #fff;
  background-color: #111;
  display: inline-block;
  padding: 5px 10px;
  font-size: 26px;
  font-weight: 400;
  box-shadow: 3px 3px 3px #111111af;
}

.bio .personal-life {
  margin: 0px 20px;
}

/* Industries/Table */

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

th {
  background: #d35c4d;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

tr {
  transition: 0.4s ease-in-out;
}

tr:hover {
  background: #d1cfcf6c;
  transition: 0.4s ease-in-out;
}

.labels tr td {
  background-color: #754f37;
  font-weight: bold;
  color: #fff;
  transition: 0.3s ease-in;
}

.labels tr td:hover {
  background-color: #583c2a;
  transition: 0.3s ease-in;
}

.label tr td label {
  display: block;
}

[data-toggle='toggle'] {
  display: none;
}

/* Upcomming Projets/Cards */

.cards {
  position: relative;
}

.card {
  display: inline-block;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px 0 20px 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

.read-more a {
  display: inline-block;
  background: #754f37;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.read-more a:hover {
  background: #9b6a4b;
}

/* Button TOP */

#myBtn {
  background: transparent;
  position: absolute;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #396ac5;
}

#myBtn i {
  color: #fff;
  transition: 0.2s ease-in;
}

#myBtn:hover {
  transition: 0.3s ease-out;
  background-color: #754f37;
}

#myBtn:active {
  -webkit-tap-highlight-color:  transparent;
}

/* Media */

@media screen and (max-width: 1200px) {
  main p.quote {
    font-size: 30px;
    width: 420px;
    bottom: 200px;
  }

  table {
    width: 650px;
  }
}

@media screen and (max-width: 1060px) {
  main p.quote {
    width: 350px;
    bottom: 250px;
    font-size: 24px;
  }
}

@media screen and (max-width: 925px) {
  main p.quote {
    display: none;
  }

  table {
    width: 550px;
  }

  .bio {
    flex-direction: column;
  }

  table {
    width: 500px;
  }
  .content {
    padding: 0 30px 10px 30px;
  }
}

@media screen and (max-width: 720px) {
  table {
    width: 100%;
  }

  .bio p {
    font-size: 16px;
    line-height: 22px;
  }

  .bio h2 {
    font-size: 20px;
  }

  .content h1 {
    font-size: 26px;
  }

  .card {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .content {
    margin: 0;
  }

  div.sidenav {
    width: 150px;
  }

  .sidenav a {
    font-size: 14px;
  }

  main {
    margin-left: 150px;
  }
}

/* Mobile Navigation */

@media screen and (min-width: 600px) {
  main .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  div.sidenav {
    display: none;
  }

  .read-more a {
    font-size: 12px;
  }

  main {
    margin: 0;
  }
}

@media screen and (max-width: 440px) {
  .mobile-nav a {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {

}
